In [1]:
import pandas as pd

matches = pd.read_csv("../data/raw/WorldCupMatches.csv")
cups = pd.read_csv("../data/raw/WorldCups.csv")

print(matches.shape)
matches.head()

(4572, 20)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA

In [2]:
matches.info()
matches.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  852 non-null    float64
 1   Datetime              852 non-null    object
 2   Stage                 852 non-null    object
 3   Stadium               852 non-null    object
 4   City                  852 non-null    object
 5   Home Team Name        852 non-null    object
 6   Home Team Goals       852 non-null    float64
 7   Away Team Goals       852 non-null    float64
 8   Away Team Name        852 non-null    object
 9   Win conditions        852 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  852 non-null    float64
 12  Half-time Away Goals  852 non-null    float64
 13  Referee               852 non-null    object
 14  Assistant 1           852 non-null    object
 15  Assistant 2           852 non-null    object
 16  RoundID               852 non-null    float64
 17  MatchID               852 non-null    float64
 18  Home Team Initials    852 non-null    object
 19  Away Team Initials    852 non-null    object
dtypes: float64(8), object(12)
memory usage: 714.5+ KB

Year                    3720
Datetime                3720
Stage                   3720
Stadium                 3720
City                    3720
Home Team Name          3720
Home Team Goals         3720
Away Team Goals         3720
Away Team Name          3720
Win conditions          3720
Attendance              3722
Half-time Home Goals    3720
Half-time Away Goals    3720
Referee                 3720
Assistant 1             3720
Assistant 2             3720
RoundID                 3720
MatchID                 3720
Home Team Initials      3720
Away Team Initials      3720
dtype: int64

In [3]:
matches[['Year', 'Datetime', 'Stage', 'Home Team Name', 'Away Team Name', 'Home Team Goals', 'Away Team Goals', 'Win conditions']].head(10)

,Year,Datetime,Stage,Home Team Name,Away Team Name,Home Team Goals,Away Team Goals,Win conditions
0,1930.0,13 Jul 1930 - 15:00,Group 1,France,Mexico,4.0,1.0,
1,1930.0,13 Jul 1930 - 15:00,Group 4,USA,Belgium,3.0,0.0,
2,1930.0,14 Jul 1930 - 12:45,Group 2,Yugoslavia,Brazil,2.0,1.0,
3,1930.0,14 Jul 1930 - 14:50,Group 3,Romania,Peru,3.0,1.0,
4,1930.0,15 Jul 1930 - 16:00,Group 1,Argentina,France,1.0,0.0,
5,1930.0,16 Jul 1930 - 14:45,Group 1,Chile,Mexico,3.0,0.0,
6,1930.0,17 Jul 1930 - 12:45,Group 2,Yugoslavia,Bolivia,4.0,0.0,
7,1930.0,17 Jul 1930 - 14:45,Group 4,USA,Paraguay,3.0,0.0,
8,1930.0,18 Jul 1930 - 14:30,Group 3,Uruguay,Peru,1.0,0.0,
9,1930.0,19 Jul 1930 - 12:50,Group 1,Chile,France,1.0,0.0,

In [4]:
def match_result(row):
    if row['Home Team Goals'] > row['Away Team Goals']:
        return "HomeWin"
    elif row['Home Team Goals'] < row['Away Team Goals']:
        return "AwayWin"
    else:
        return "Draw"

matches['Result'] = matches.apply(match_result, axis=1)
matches[['Home Team Name', 'Away Team Name', 'Home Team Goals', 'Away Team Goals', 'Result']].head(10)

  Home Team Name Away Team Name  Home Team Goals  Away Team Goals   Result
0         France         Mexico              4.0              1.0  HomeWin
1            USA        Belgium              3.0              0.0  HomeWin
2     Yugoslavia         Brazil              2.0              1.0  HomeWin
3        Romania           Peru              3.0              1.0  HomeWin
4      Argentina         France              1.0              0.0  HomeWin
5          Chile         Mexico              3.0              0.0  HomeWin
6     Yugoslavia        Bolivia              4.0              0.0  HomeWin
7            USA       Paraguay              3.0              0.0  HomeWin
8        Uruguay           Peru              1.0              0.0  HomeWin
9          Chile         France              1.0              0.0  HomeWin